# Dependency directories
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# Log files
*.log

# Build artifacts
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
